@import 'NavBar.scss';

.menu-list {
    padding-top: 60px;
}

.search-list-cont {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    padding-left: 2.5%;
}

.i-search {
    font-size: 1rem;
}

.search {
    width: 355px;
    border: 1px solid #718096;
}

.form-search {
    width: 227px;
    height: 20px;
    border-style: none;
    font-family: $text;
    font-weight: normal;
    font-size: 18px;
    outline: none;
    color: $text-opacity;
    padding: 0;
}

.search-list {
    display: flex;
    justify-content: start;
}

.todas {
    font-family: $f-subtitle;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin-right: 35px;
}

@media screen and (max-width: 992px) {
    .search-list-cont {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    .search-list {
        margin-top: 25px;
    }
    .todas {
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .search-list-cont {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .form-search {
        width: 227px;
        height: 20px;
        border-style: none;
        font-family: $text;
        font-weight: normal;
        font-size: 18px;
        outline: none;
        color: $text-opacity;
        padding: 0;
    }
    .search-list-cont {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 90px;
        padding-left: 2%;
    }
    .search-list {
        display: none;
    }
    .activatefilter {
        display: flex;
    }
    .search {
        width: 75%;
    }
    .i-search {
        padding-left: 15%;
    }
}