$nav_index: 8;
$l_height: 10px;
$sub-title: 22px;
$s-text: 18px;
$text: "Open Sans";
$text-opacity: rgba($color: #000000, $alpha: 0.4);
$f-subtitle: Syne;
$f-title: Druk;

@font-face {
    font-family: 'icomoon';
    src:  url('../../Font/icomoon.eot?jnhqps');
    src:  url('../../Font/icomoon.eot?jnhqps#iefix') format('embedded-opentype'),
        url('../../Font/icomoon.ttf?jnhqps') format('truetype'),
        url('../../Font/icomoon.woff?jnhqps') format('woff'),
        url('../../Font/icomoon.svg?jnhqps#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e986";
}

.icon-arrow-right:before {
    content: "\ea3c";
}

.icon-arrow-left2:before {
    content: "\ea40";
}



@font-face {
    font-family: Druk;
    src: url(../../Font/DrukTextWide-Bold.ttf);
}

@font-face {
    font-family: Syne;
    src: url(../../syne-typeface-master/TTF/Syne-Bold.ttf);
}

.nav-container{
    top: 57px;
    left: 60px;
    position: fixed;
    z-index: $nav_index;
}

.navbar {
    width: 800px;
    top: 15px;
    padding: 0;
    // display: inline-block;
    flex-wrap: nowrap;
}


.Foodies {
    font-family: $f-title;
    margin-right: 86px;
    font-size: 36px;
    line-height: 27px;
    margin-right: 5% !important;
}

.Foodies:hover {
    font-style: italic;
    border-bottom-style: outset;
}

.nav-item {
    color: black;
    font-family: $f-subtitle;
    // margin-right: 3%;
}

.menu:hover {
    font-style: italic;
    border-bottom-style: outset;
    line-height: $l_height;
}
.menu2:hover {
    font-style: italic;
    border-bottom-style: outset;
    line-height: $l_height;
}
.menu3:hover {
    font-style: italic;
    border-bottom-style: outset;
    line-height: $l_height;
}
.menu4:hover {
    font-style: italic;
    border-bottom-style: outset;
    line-height: $l_height;
}


.button-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .display-none {
        display: none !important;
        margin-right: 10px;
    }
    .menu-bar {
        display: inherit;
        width: 100%;
    }
    .nav-container {
        width: 80%;
    }
    .button-menu {
        display: flex;
        position: absolute;
        right: -5%;
        top: 28px;
        z-index: 20;
        justify-self: flex-end;
    }
    .activee {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-size: 25px;
        background-color: rgb(179, 184, 214) !important;
        color: black !important;
        z-index: 10;
    }
    .carousel {
        z-index: 3;
    }
    .Foodies {
        color: black;
    }
}