@import 'NavBar.scss';

.testimonies {
    margin-top: 24px;
    position: relative;
    max-width: 100vw;
}

.substract-l {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 316.57px;
    max-height: 555.29px;
}

.substract-r {
    position: absolute;
    top: 110px;
    right: 0;
}

.ketchup {
    position: absolute;
    top: 0;
    right: 0;
}

.Carousel {
    display: flex;
    // justify-content: center;
    margin-left: 15%;
    align-items: center;
    height: 600px;
}

.Carousel span {
    cursor: pointer;
}

.car-item {
    max-width: 800px;
    // margin-top: 16rem;
    border: 1px solid white;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.isActive {
    display: flex;
}

.title-item {
    font-family: $f-title;
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.description-item {
    font-family: $text;
    font-size: 18px;
    font-weight: normal;
    color: $text-opacity;
    max-width: 550px;
}


.numbers {
    margin: 0 19px;
    margin-top: 61px;
    font-weight: bold;
    font-size: 20px;
    font-family: $f-subtitle;
    display: inline-block;
}
