// Override default variables before the import
$body-bg: #FFF;

body {
  margin: 0;
  background-color: $body-bg;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

